#logo,#footer{
    background-color: #292b47;
}
#logo a{
    /*position: relative;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    display: block;
    width: 30%;
    margin: 10px auto;
}
#logo a img{
    margin: 0 auto;

}
/*header .logo{*/
    /*background-color: #292b47;*/
/*}*/
#banner{
    width: 82%;
    margin: 5% auto 0
;
}
#box{
    width: 82%;
    margin: 10px auto;
}
#box .box-img{
    display: block;
    float: left;
    width: 24%;
    border-right: 1px solid #909090;
    position: relative;

}
#box .box-img>div{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background-color: rgba(255,255,255,.5);
    transition:  2s linear;
}
#box .box-img>div div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*margin: 5px auto;*/
}
#box .box-img:hover div{
    display: block;
    /*width: 100%;*/
    /*height: 100%;*/

}
#box .hot{
    width: 50%;
    float: right;
    overflow: hidden;
    position: relative;
}
#box .hot>h2{
    font-size: 2rem;
}
#box .hot>div>div{
    width: 48%;
    float: left;


}
#box .hot>div>div h4{

    font-size: 1.6rem;
    line-height: 2rem;
}
#box .hot>div>div p{

    font-size: 1.5rem;
    line-height: 2rem;
    text-indent: 2rem;
}
#box .hot>div>div a{

    display: block;
    position: absolute;
    right: 53%;
    bottom: 0;
    background-color: #303248;
    float: right;
    color: #fff;
    padding: 2px 5px;
}
#box .hot>div>a{
    width: 50%;
    float: right;
}

#footer {
    color: #fff;
    margin-top: 20px;
    min-height: 140px;

}
#footer>div{
    width: 82%;
    margin: 0 auto;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
    padding: 20px 0;
    line-height:50px;

}
#footer>div ul{
    float: left;
    width: 50%;
}
#footer>div ul li{
    float: left;
    width: 20%;
    /*text-align: center;*/
}
#footer>div>div{
    float: right;
    width: 50%;
}
#footer>div>div p{
    float: left;
    width: 24%;
}
#footer>div>div a{
    float: right;
    width: 12%;
    position: relative;

}
#footer>div>div a img{
    float: right;

}
@media screen and (max-width: 1200px){
    #box .box-img{
        width: 48%;
    }
    #box a.box-img:nth-child(2){
        border: none;
    }
    #box .hot{
        width: 100%;

    }
    #footer>div ul{

        width: 100%;
    }
    #footer>div>div{

        width: 100%;
    }
}
@media screen and ( max-width: 768px){
    #box .hot>h2 {
        font-size: 1.2rem;
    }
    #box .hot>div>div h4 {
        font-size: 0.6rem;
        line-height: 1rem;
    }
    #box .hot>div>div p {
        font-size: 0.5rem;
        line-height: 1rem;
        text-indent: 2rem;
    }
    #footer>div>div p{
        text-align: center;
        width: 100%;
        line-height: 20px;
    }
}